img {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 10px;
    margin: 50px;
}
h2{
    width: 100%;
    font-size: 2rem;
    text-align: center;
    background-color: green;
    color: white;
}